RewriteEngine On
RewriteRule ^([0-9x]+)/?$ image.php?size=$1 [L,NC]
RewriteRule ^([0-9x]+)/(png|gif|jpg|jpeg)/?$ image.php?size=$1&type=$2 [L,NC]
RewriteRule ^([0-9x]+)/(png|gif|jpg|jpeg)/([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})/?$ image.php?size=$1&type=$2&bg=$3 [L,NC]
RewriteRule ^([0-9x]+)/(png|gif|jpg|jpeg)/([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})/([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})/?$ image.php?size=$1&type=$2&bg=$3&color=$4 [L,NC]
RewriteRule ^([0-9x]+)/(png|gif|jpg|jpeg)/([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})/([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})/(.*)?$ image.php?size=$1&type=$2&bg=$3&color=$4&text=$5 [L,NC]
